<h1>{{name}}</h1>

<div class="container bannerShoe">
  <div class="row">
    <div class="col-sm-12 col-md-6 list">
      <h3>N-Air Purple-Yellow</h3>
      <a href="/user1"><img src="/images/f-l.jpg" alt="shoe"></a>
      <p>FlyEase technology gives you the performance you’d expect, with easy access for all athletes. Just launched.</p>
      <hr>
    </div>
    <div class="col-sm-12 col-md-6 list">
      <h3>N-Air Blue-Red</h3>
      <a href="/user2"><img src="/images/f-r.png" alt="shoe" class="img2"></a>
      <p>The Air Max 720 in two new colourways to keep you on your toes. JUST GO BIGGER!!!</p>
      <hr>
    </div>
  </div>
  <div class="row buy">
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/shoe4.jpg" alt="shoe" class="img-fluid">
      <h4>Nike Air Zoom Pegasus 35 FlyEase</h4>
      <p>Price: <span>CAD 155</span></p>
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/shoe5.jpg" alt="shoe" class="img-fluid">
      <h4>Nike Zoom Pegasus 34 FlyEase</h4>
      <p>Price: <span>CAD 105</span></p>
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/shoe6.jpg" alt="shoe" class="img-fluid">
      <h4>LeBron Soldier XII FlyEase</h4>
      <p>Price: <span>CAD 175</span></p>
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/shoe7.jpg" alt="shoe" class="img-fluid">           
      <h4>LeBron Soldier 11 FlyEase</h4>           
      <p>Price: <span>CAD 130</span></p>           
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/shoe8.jpg" alt="shoe" class="img-fluid">           
      <h4>Nike Revolution 4 FlyEase</h4>           
      <p>Price: <span>CAD 82</span></p>           
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/shoe9.jpg" alt="shoe" class="img-fluid">           
      <h4>Jordan 'Why Not?' Zer0.2</h4>           
      <p>Price: <span>CAD 170</span></p>           
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/shoe10.jpg" alt="shoe" class="img-fluid">           
      <h4>Nike Team Hustle D 8 FlyEase</h4>           
      <p>Price: <span>CAD 75</span></p>           
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/shoe11.jpg" alt="shoe" class="img-fluid">           
      <h4>Nike Air LeBron 16 FlyEase</h4>           
      <p>Price: <span>CAD 240</span></p>           
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/shoe12.jpg" alt="shoe" class="img-fluid">           
      <h4>Nike Air Max 97 FlyEase</h4>           
      <p>Price: <span>CAD 215</span></p>           
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/shoe13.jpg" alt="shoe" class="img-fluid">           
      <h4>Nike Air Force 1 '07 FlyEase</h4>           
      <p>Price: <span>CAD 120</span></p>           
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/shoe14.jpg" alt="shoe" class="img-fluid">           
      <h4>AIR JORDAN 5 LANEY JSP</h4>           
      <p>Price: <span>CAD 265</span></p>           
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/shoe15.jpg" alt="shoe" class="img-fluid">           
      <h4>Nike Zoom Pegasus Turbo</h4>           
      <p>Price: <span>CAD 240</span></p>           
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
  </div>
</div>